<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786787857896-ll063b5eed0u2mesr3hm2e4bs3g4voqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786787857896-ll063b5eed0u2mesr3hm2e4bs3g4voqq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>786787857896-bgc6dekr6n4inf0klbu0qiojcoo947ej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDN06xLTGSlhmPzIUJJlEYM3GH0sy85OpE</string>
	<key>GCM_SENDER_ID</key>
	<string>786787857896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireCruds</string>
	<key>PROJECT_ID</key>
	<string>firecruds-87e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>firecruds-87e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786787857896:ios:1eafcfe468f302b51ea05d</string>
</dict>
</plist>